aiogram==2.9.2
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
certifi==2020.4.5.2
chardet==3.0.4
coloredlogs==14.0
executor==23.1
fasteners==0.15
humanfriendly==8.2
idna==2.9
monotonic==1.5
multidict==4.7.6
property-manager==3.0
pytz==2020.1
six==1.15.0
verboselogs==1.7
yarl==1.4.2
pyowm~=3.0.0